<ul class="example-orbit" data-orbit>
  <li>
    <img src="/img/portafolio/bpo/1.jpg" />
  </li>
  <li class="active">
    <img src="/img/portafolio/bpo/2.jpg" />
  </li>
  <li>
    <img src="/img/portafolio/bpo/3.jpg" />
  </li>
</ul>


<p>
  Este diseño fue utilizado en 2013 para la empresa BPO, en este me encargue de la maquetación,
  ya que el diseño fue realizado por otra persona, utilice css simple para vista y como backend se
  utilizo wordpress ya que es uno de los cms más fáciles de utilizar ya aprender.
</p>

<p>
  Actualmente como es normal en internet la bpo innovations posee otro diseño y el sitio mostrado
  en el portafolio solo es una demostración de como se veia antes de dejar de ser utilizado.
</p>