<ul class="example-orbit" data-orbit>
  <li>
    <img src="/img/portafolio/catalogo/1.jpg" />
  </li>
  <li class="active">
    <img src="/img/portafolio/catalogo/2.jpg" />
  </li>
  <li>
    <img src="/img/portafolio/catalogo/3.jpg" />
  </li>
</ul>


<p>Este sitio fue diseñado para realizar compras en línea de perfumes, utilice maquetación
simple pero apoyado por foundation 5 en este sitio utilice vista responsive.</p>

<p>
  El sitio utiliza wordpress para ser administrado y el plugin de woocommerce para realizar
  la administración de la tienda online, actualmente el sitio no esta en linea ya que el
  propietario aun no posee la infraestructura para ponerlo en marcha, solo es cuestion de
  tiempo para que esto cambie.
</p>
<p>
  Actualmente este sitio es una demostración y no se encuentra funcionando ya que esta en
  un servidor de pruebas.
</p>