<ul class="example-orbit" data-orbit>
  <li>
    <img src="/img/portafolio/catalogo/1.jpg" />
  </li>
  <li class="active">
    <img src="/img/portafolio/catalogo/2.jpg" />
  </li>
  <li>
    <img src="/img/portafolio/catalogo/3.jpg" />
  </li>
</ul>


<p>Este sitio fue diseñado para realizar compras en linea de perfumes, utilice maquetacion simple pero apoyado por
foundation 5 en este sitio utilice vista responsibe.</p>

<p> El sitio utiliza wordpress para ser administrado y el plugin de woocommerce para realizar la administracion
de la tienda online, actualmente el sitio no esta en linea ya que el propietario aun no posee la infraestructura para poner lo en linea,
el sitio se encuentra en un servidor temporal.
</p>