<ul class="example-orbit" data-orbit>
  <li>
    <img src="/img/portafolio/cronicas/1.jpg" />
  </li>
  <li class="active">
    <img src="/img/portafolio/cronicas/2.jpg" />
  </li>
  <li>
    <img src="/img/portafolio/cronicas/3.jpg" />
  </li>
</ul>


<p>Crónicas Geek es un proyecto personal que nació con la idea de escribir
acerca de temas de programacion y electronica, otra de mis grandes pasiones
es la electrónica y escribir acerca de ella me permite aprender y documentar
mis proyectos.</p>

<p> Es un simple blog en el cual utiliza un framework css llamado metro ui,
debo decir que es el framework más complejo que utilizado actualmente pero
que posee una interfaz muy bonita, y desde luego utilizando php y mysql
para que funcione en el servidor.
</p>