<ul class="example-orbit" data-orbit>
  <li>
    <img src="/img/portafolio/fototeca/1.jpg" />
  </li>
  <li class="active">
    <img src="/img/portafolio/fototeca/2.jpg" />
  </li>
  <li>
    <img src="/img/portafolio/fototeca/3.jpg" />
  </li>
</ul>


<p>Cuando trabaje en La fototeca uno de mis primeros trabajos fue mejorar el
formulario de inscripciones,
es un formulario personalizado con css y jquery para lograr los efectos,
el reto fue que utiliza un generador de formulario online llamado
jotform el cual almacena las solicitudes enviadas.</p>

<p> Debo decir que en La fototeca aprendí a trabajar
con diseñadores de manera más profesional y a maquetar
más rápido y mejor, que es un proceso en el desarrollo
profesional.
</p>