<ul class="example-orbit" data-orbit>
  <li>
    <img src="/img/portafolio/oldcv/1.jpg" />
  </li>
  <li class="active">
    <img src="/img/portafolio/oldcv/2.jpg" />
  </li>
  <li>
    <img src="/img/portafolio/oldcv/3.jpg" />
  </li>
</ul>


<p>Es un sitio creado para mostrar mi trabajo personal en 2013
utilizando la plataforma de heroku y escrito totalmente en ruby
on rails 4, también en la vista principal utiliza html5 de forma
un poco más elaborada, para realizar las animaciones aproveche las
ventajas de css3 y jquery.</p>
<p>
  También al realizar mi portafolio en un lenguaje como ruby me permitió
  conocer y aprender sobre plataformas paas y iaas que básicamente se
  utiliza para desarrollos en la nube que permiten utilizar los lenguajes
  y configuraciones que uno necesite sin tener las limitaciones de los
  hosting tradicionales.
</p>
