<ul class="example-orbit" data-orbit>
  <li>
    <img src="/img/portafolio/our/1.jpg" />
  </li>
  <li class="active">
    <img src="/img/portafolio/our/2.jpg" />
  </li>
  <li>
    <img src="/img/portafolio/our/3.jpg" />
  </li>
</ul>


<p>Our fashion box es una tienda online y blog al mismo tiempo acerca de ropa
y moda femenina, el sitio fue desarrollado en wordpress utilizando el
plugin de woocommerce para administrar la tienda online, también utilice
el framework css de foundation lo cual me ayudó a acelerar el desarrollo
y mejorar la estética del sitio.</p>

<p> Es un proyecto que aun esta en desarrollo y constante evolución ya
que el contenido cambia constantemente y me permitió comprender bien
el mundo de e-commerce.
</p>