<ul class="example-orbit" data-orbit>
  <li>
    <img src="/img/portafolio/portones/1.jpg" />
  </li>
  <li class="active">
    <img src="/img/portafolio/portones/2.jpg" />
  </li>
  <li>
    <img src="/img/portafolio/portones/3.jpg" />
  </li>
</ul>


<p>Fue el primer sitio que desarrolle de manera profesional,
utilice un cms para administrar el contenido que fue wordpress,
la plantilla se encuentra hecha desde 0 ya que es mucho más
fácil realizar una personalización a medida.</p>

<p> El efecto de desplazamiento con fondos a velocidades distintas
lo logre gracias a un plugin de jquery llamada parallax y con la
ayuda de smashing magazine donde liberaron el codigo para ser
utilizado para desarrolladores, el diseño aun deja que desear
pero fue a solicitud del cliente, pero como sabemos el cliente
siempre tiene la razón. 
</p>