<ul class="example-orbit" data-orbit>
  <li>
    <img src="/img/portafolio/radiomanager/1.jpg" />
  </li>
  <li class="active">
    <img src="/img/portafolio/radiomanager/2.jpg" />
  </li>
  <li>
    <img src="/img/portafolio/radiomanager/3.jpg" />
  </li>
</ul>


<p>
  Es una aplicación web que se utiliza para realizar un seguimiento de los contenidos
  en las radios ingresadas segmentadas por turnos, esto permitió tener un mayor control
  sobre los temas que se daban en cada turno así como los usuarios encargados de cada contenido.
</p>

<p>
  La aplicación se encuentra escrita en php utilizando el framework codeigniter que es realmente
  rapido, tambien utilice ajax para realizar la inserción, edición y eliminación de datos lo que
  hizo que el sitio sea mas dinamico y mas fluido, por último utiliza un base de datos mysql
  con una estructura relacional que realice con diagramas de flujo para optimizar recursos.
</p>