<ul class="example-orbit" data-orbit>
  <li>
    <img src="/img/portafolio/sendmsm/1.jpg" />
  </li>
  <li class="active">
    <img src="/img/portafolio/sendmsm/2.jpg" />
  </li>
  <li>
    <img src="/img/portafolio/sendmsm/3.jpg" />
  </li>
</ul>


<p>
  Este programa se encuentra escrito en php utilizando codeigniter
  como framework principal, la función de la aplicación es
  la permitir enviar mensajes masivos a una lista de usuarios
  permitiendo realizar mensajes personalizados reemplazando
  variables por otra información por ejemplo el nombre del usuario,
  también permite enviar mensajes programados, administrar usuarios,
  y ver reportes de envio por fecha, también es posible subir los datos a
  enviar por medio de un archivo de excel que es más fácil de manipular.
</p>

<p>
  El programa se conecta a un servidor principal que administra
  las telefonías disponibles actualmente, la conexión se realiza
  por medio de web services en este caso de tipo REST http,
  en el cual se le envían los parámetros como el numero de telefono
  y el mensaje personalizado por cada usuario.
</p>
<p>
  El sitio mostrado en este portafolio no envia mensajes porque solo es una demostración.
</p>